body#home-page {
    background-color: #ececec;
    margin: 0;
    position: relative;
}

#home-page .dwelling_car {
    margin-top: 100px;
}

.dwelling_2nd_images {
    margin-top: 70px;
    margin-bottom: 10px;
}

#home-page {
    height: 210px;
    width: 420px;
    margin-bottom: 10px;
    margin: 0;
    height: 150px;
    width: 420px;
}

.display_1 {
    height: 100px;
    width: 420px;
}

.display_3 {
    margin: 0;
    height: 150px;
    width: 420px;
}

.display_4 {
    margin: 0;
    height: 100px;
    width: 280px;
}

#home-page {
    height: 270px;
    width: 650px;
    text-align: center;
    margin-left: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 0;
    background-color: #c0c0c0;
    padding: 5px;
    margin-top: 1000px;
}

.display_2 {
    height: 10px;
    width: 650px;
}

.discover {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.home-page {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.text_indent {
    text-align: start;
}

.text_indent_background {
    background-color: #c0c0c0;
    padding: 5px;
}
/* .carousel-item {
    vertical-align: middle;
    text-align: center;
} */

#dwelling-hero {
    margin-top: 90px;
}

.next {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.prev {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

@media only screen and (max-width: 950px) {
    body#home-page {
        margin: auto;
        padding: 0;
        text-align: center;
        align-items: center;
    }

    /* .col-lg-2 {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 300px;
        text-align: center;
    } */

    #home-page .col-lg-3 {
        margin-top: 20px;
    }

    #home-page .col-lg-4 {
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        max-width: 300px;
        text-align: center;
    }

    #home-page .display_3 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 95%;
        max-width: 300px;
        text-align: center;
    }
    #home-page .text_indent {
        text-align: center;
        margin: 0;
    }

    #home-page .dwelling_2nd_images {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* .style {
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        width: 66%;
        max-width: 300px;
        text-align: center;
    } */

    #home-page .display_1 {
        display: none;
    }

    #home-page .explore {
        display: none;
    }

    #home-page .explore_1 {
        margin: auto;
        margin-top: 0;
        width: 70%;
        max-width: 250px;
        text-align: center;
    }

    #home-page .elevate {
        margin: auto;
        offset: auto;
        padding: auto;
        border: auto;
    }
}
